<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <string>Hà</string>
    <string>Thuỷ</string>
    <string>Moon</string>
    <string>Nga</string>
    <string>A Tâm</string>
    <string>Tài</string>
    <string>Giao</string>
    <string>Huy</string>
    <string>Hiếu</string>
    <string>Biên</string>
    <string>Tuấn</string>
    <string>BunMy</string>
    <string>Linh</string>
    <string>Website</string>
    <string>Bố</string>
    <string>Vợ</string>
</array>
</plist>
